<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../public/assets/icon/icon.ico">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../public/css/mainpage.css">
    <title>The Traditional Game by BINAR Academy</title>
</head>

<body>
    <section class="section-main">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark" id="main-nav">
            <div class="container-fluid">
                <a class="navbar-brand col-sm-3" href="javascript:void(0)" style="padding-left:40px;">LOGO</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#main-navbar1, #main-navbar2">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse col-sm-6" id="main-navbar1">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Work</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">About Us</a>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse col-sm-3" id="main-navbar2">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="section-main-header-container">
                <div class="section-main-header">
                    <h1 class="heading1">
                        PLAY TRADITIONAL GAME
                    </h1>
                    <h3 class="heading3">
                        Experience new traditional game play
                    </h3>
                </div>
            </div>

            <div class="section-main-call">
                <a href="/game">
                    <button" class="btn-global" id="btn-play-now">PLAY NOW</button>
                </a>
            </div>

            <div class="section-main-scroll-down">
                <a href="#section-thegames" class="nav-text">THE STORY<br></p>
                    <a href="#section-thegames">
                        <img src="../public/assets/icon/scroll-down.svg" width=50px>
                    </a>
            </div>
        </div>

    </section>


    <section class="section-thegames" id="section-thegames">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h3 class="heading3">What's so special?</h3>
                    <h2 class="heading2">THE GAMES</h2>
                </div>
                <div class="col-sm-9">
                    <!-- Carousel -->
                    <div id="demo" class="section-thegames-carousel-container carousel slide" data-bs-ride="carousel">

                        <!-- Indicators/dots -->
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
                        </div>

                        <!-- The slideshow/carousel -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="../public/assets/icon/rockpaperstrategy-1600.jpg" alt="RPS"
                                    class="d-block w-75 mx-auto">
                            </div>
                            <div class="carousel-item">
                                <img src="../public/assets/icon/rockpaperstrategy-1600.jpg" alt="TBD 1"
                                    class="d-block w-75 mx-auto">
                            </div>
                            <div class="carousel-item">
                                <img src="../public/assets/icon/rockpaperstrategy-1600.jpg" alt="TBD 2"
                                    class="d-block w-75 mx-auto">
                            </div>
                            <div class="carousel-item">
                                <img src="../public/assets/icon/rockpaperstrategy-1600.jpg" alt="TBD 3"
                                    class="d-block w-75 mx-auto">
                            </div>
                            <div class="carousel-item">
                                <img src="../public/assets/icon/rockpaperstrategy-1600.jpg" alt="TBD 4"
                                    class="d-block w-75 mx-auto">
                            </div>
                        </div>

                        <!-- Left and right controls/icons -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                            <span><img class="align-middle" src="../public/assets/icon/switch-left.svg"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                            <span><img class="align-middle" src="../public/assets/icon/switch-right.svg"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-features">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                </div>
                <div class="col-sm-5">
                    <h3 class="heading3">What's so special?</h3>
                    <h2 class="heading2">FEATURES</h2>

                    <br>
                    <div class="container-features">
                        <!-- completed -->
                        <div class="step completed">
                            <div class="v-stepper">
                                <div class="circle"></div>
                                <div class="line"></div>
                            </div>

                            <div class="content">
                                <span class=" heading3 body-text">TRADITIONAL
                                    GAMES</span><br>
                                <p class="subtext-text">If you miss your childhood, we provide many traditional
                                    games
                                    here</p>
                            </div>
                        </div>

                        <!-- active -->
                        <div class="step active">
                            <div class="v-stepper">
                                <div class="circle"></div>
                            </div>

                            <div class="content">
                                <span class="heading3 body-text">GAME
                                    SUIT</span>
                            </div>
                        </div>

                        <!-- regular -->
                        <div class="step">
                            <div class="v-stepper">
                                <div class="circle"></div>
                            </div>

                            <div class="content">
                                <span class="heading3 body-text">TBD</span>
                            </div>
                        </div>
                    </div>
                    <!-- 
                    <form>
                        <label><input type="radio" name="feature-opt" id="opt-1" checked="checked"><span
                                class="feature-opt-text">TRADITIONAL
                                GAMES</span><br>
                            <p class="feature-opt-subtext">If you miss your childhood, we provide many traditional games
                                here</p>
                        </label><br>
                        <label><input type="radio" name="feature-opt" id="opt-2"><span class="feature-opt-text">GAME
                                SUIT</span>
                        </label><br>
                        <label><input type="radio" name="feature-opt" id="opt-3"><span
                                class="feature-opt-text">TBD</span>
                        </label>
                    </form> -->
                </div>

            </div>
        </div>
        </div>
    </section>

    <section class="section-sysreq">
        <div class="container">
            <center class="subtext-text">Can My Computer Run This Game?</center>
            <h2 class="heading2">SYSTEM <br>
                REQUIREMENTS</h2>

            <div class="section-sysreq-table">
                <table>
                    <tr>
                        <td>
                            <p class="body-text">OS:</p>
                            <p class="subtext-text">
                                Windows 7 64-bit only<br>
                                (No OSX support at this time)
                            </p>
                        </td>
                        <td>
                            <p class="body-text">PROCESSOR:</p>
                            <p class="subtext-text">
                                Intel Core 2 Duo @ 2.4 GHZ or <br>
                                AMD Athlon X2 @ 2.8 GHZ
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="body-text">MEMORY:</p>
                            <p class="subtext-text">
                                4 GB RAM
                            </p>
                        </td>
                        <td>
                            <p class="body-text">STORAGE:</p>
                            <p class="subtext-text">
                                8 GB available space
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan=2>
                            <p class="body-text">GRAPHICS:</p>
                            <p class="subtext-text">
                                NVIDIA GeForce GTX 660 2GB or <br>
                                AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>

    <section class="section-topscores">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <h2 class="heading2">TOP <br>
                        SCORES</h2>
                    <p class="subtext-text"> This top score from various games provided on this platform</p>
                    <button type="button" class="btn-global" id="btn-top-scores">See More</button>
                </div>
                <div class="col-sm-5">
                    <div class="d-flex justify-content-start my-3">
                        <div class="tweet-box">
                            <div class="tweet-box-header">
                                <div class="tweet-box-icon">
                                    <img class="tweet-icon" src="../public/assets/photo/evan-lahti.jpg">
                                </div>
                                <div class="tweet-box-name">
                                    <span class="body-text">Evan Lahti</span><br>
                                    <span class="smalltext-text">PC Gamer</span>
                                </div>
                                <div class="tweet-box-twitter">
                                    <img class="tweet-logo" src="../public/assets/icon/twitter.svg">
                                </div>
                            </div>
                            <div class=" tweet-box-body">
                                <p class="subtext-text">"One of my gaming highlights of the year."</p>
                                <p class="smalltext-text">June 18, 2021</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end my-3">
                        <div class="tweet-box">
                            <div class="tweet-box-header">
                                <div class="tweet-box-icon">
                                    <img class="tweet-icon" src="../public/assets/photo/jada-griffin.jpg">
                                </div>
                                <div class="tweet-box-name">
                                    <span class="body-text">Jada Griffin</span><br>
                                    <span class="smalltext-text">Nerdreactor</span>
                                </div>
                                <div class="tweet-box-twitter">
                                    <img class="tweet-logo" src="../public/assets/icon/twitter.svg">
                                </div>
                            </div>
                            <div class=" tweet-box-body">
                                <p class="subtext-text">"The next big thing in the world of streaming and survival
                                    games."</p>
                                <p class="smalltext-text">July 10, 2021</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center my-3">
                        <div class="tweet-box">
                            <div class="tweet-box-header">
                                <div class="tweet-box-icon">
                                    <img class="tweet-icon" src="../public/assets/photo/aaron-williams.jpg">
                                </div>
                                <div class="tweet-box-name">
                                    <span class="body-text">Aaron Williams</span><br>
                                    <span class="smalltext-text">Uproxx</span>
                                </div>
                                <div class="tweet-box-twitter">
                                    <img class="tweet-logo" src="../public/assets/icon/twitter.svg">
                                </div>
                            </div>
                            <div class=" tweet-box-body">
                                <p class="subtext-text">"Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is
                                    Ridiculous."</p>
                                <p class="smalltext-text">December 24, 2018</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-newsletter">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 section-newsletter-blank">
                </div>
                <div class="col-sm-6">
                    <h3 class="heading3">Want to stay in touch?</h3>
                    <h2 class="heading2">NEWSLETTER <br> SUBSCRIBE</h2>
                    <p class="subtext-text">In order to start receiving our news, all you have to do is enter your
                        email address.
                        Everything
                        else will be taken care of by us. We will send you emails containing information about game.
                        We
                        don't spam.</p>
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="floatingInput"
                                        placeholder="name@example.com">
                                    <label for="floatingInput" style="color:gray;">Your email address</label>
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <button type="button" class="btn-global" id="btn-subscribe">Subscribe Now</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

    </section>
</body>

<footer>
    <div class="footer-container-1">
        <a class="nav-text nav-item" href="javascript:void(0)" style="text-decoration:none;">MAIN</a>
        <a class="nav-text nav-item" href="javascript:void(0)" style="text-decoration:none;">ABOUT</a>
        <a class="nav-text nav-item" href="javascript:void(0)" style="text-decoration:none;">GAME FEATURES</a>
        <a class="nav-text nav-item" href="javascript:void(0)" style="text-decoration:none;">SYSTEM REQUIREMENT</a>
        <a class="nav-text nav-item" href="javascript:void(0)" style="text-decoration:none;">QUOTES</a>
        <a class="nav-item" href="javascript:void(0)"><img src="../public/assets/icon/facebook.svg"></a>
        <a class="nav-item" href="javascript:void(0)"><img src="../public/assets/icon/twitter.svg"></a>
        <a class="nav-item" href="javascript:void(0)"><img src="../public/assets/icon/vector.svg"></a>
        <a class="nav-item" href="javascript:void(0)"><img src="../public/assets/icon/twitch.svg"></a>
    </div>

    <hr class="hline">
    <div class="footer-container-2">
        <div class="footer-container-2-left">
            <span class="smalltext-text">© 2018 Your Games, Inc. All Rights Reserved
        </div></span>
        <div class="footer-container-2-right">
            <a class=" nav-text nav-item" href="javascript:void(0)" style="text-decoration:none;">Privacy Policy</a>
            <span class="nav-text">|</span>
            <a class="nav-text nav-item" href="javascript:void(0)" style="text-decoration:none;">Terms of
                Services</a>
            <span class="nav-text">|</span>
            <a class="nav-text nav-item" href="javascript:void(0)" style="text-decoration:none;">Code of Conduct</a>
        </div>
    </div>



</footer>

</html>