/* Global Setting */
body, html{
    background-color: black;
   height:100%;
}
section{
    display:flex;
    min-height:100%;
}
.container{
margin:auto;
    display:flex;
    flex-direction: column;
    flex-grow:1;
}
@font-face{
    font-family: 'BebasNeueRegular';
    src:url(../assets/font/bebas_neue/BebasNeue-Regular.woff)
}

@font-face{
    font-family: 'OpenSansRegular';
    src:url(../assets/font/open-sans/opensans-regular.woff)
}

table, tbody,th, td, tr {
    border: 1px solid rgb(255,255,255,0.75);
    border-width:1px !important;
    padding: 8px;
    vertical-align: top;
}

a{
    text-decoration: none;
    color:black;
}

.btn-global{
    padding: 18px 60px;
    font-family: 'OpenSansRegular';
    font-weight: bold;
    font-size: 16px;
    background-image: linear-gradient(#FFB548,#F3AF34);
    border: none;
    border-radius: 4px;
}

.hline{
    border-top:2px solid white;
    margin:0.25;
}

.heading1{

    font-family: 'BebasNeueRegular';
    font-size: 80px;
    font-weight: bold;
    color: white;
}

.heading2{

    font-family: 'BebasNeueRegular';
    font-size: 56px;
    font-weight: bold;
    color: white;
}

.heading3{
    font-family: 'BebasNeueRegular';
    font-size: 24px;
    font-weight: bold;
    color:white;
}

.body-text{
    font-family:'OpenSansRegular';
    font-size: 24px;
    color:#FFB548;;
}

.subtext-text{
    font-family:'OpenSansRegular';
    font-size: 18px;
    color:white;
}
.smalltext-text{
    font-family:'OpenSansRegular';
    font-size: 14px;
    color:gray;
}

.nav-item{
    padding:0px 10px;
}
.nav-link, .nav-text {
    text-decoration:none;
    font-family:'OpenSansRegular';
    font-size: 12px;
    font-weight: bold;
    color:white;
    text-transform:capitalize;
}

.nav-text:hover{
    color:white;
    text-decoration:none;
}

/* Main Section */

.section-main{
    display:flex;
    flex-direction: column;
    background: url('../assets/bg/main-bg.jpg') no-repeat center center; 
    background-size: cover;
}

.section-main-container{
    display:flex;
    flex-direction: column;
    flex-grow:1;

}
.section-main-header-container{
    display:flex;
    flex-direction: column;
    align-items:center;
    flex-grow:1;
    text-align: center;   
}
.section-main-header{
    margin-top:auto;
    margin-bottom:auto;  
}
.section-main-call{
    flex-grow:1;
    text-align:center;
    justify-content: center;
    align-items: center;
}
.section-main-scroll-down{
    flex-grow:0;
    text-align:center;
    justify-content: center;
    align-items: flex-end;

}


.section-thegames{
    background: url('../assets/bg/the-games-bg.jpg') no-repeat center center; 
    background-size: cover;
}

.section-thegames-container{
    display: flex;
}

.section-thegames-carousel-container{
    max-width:800px;
    max-height:400px;
}

.carousel-indicators button {
    margin:0 20px !important;
    width: 12px !important;
    height: 12px !important;
    border-radius: 100%;
    max-width:800px;
    max-height:400px;

  }

.carousel-item{
    max-width:800px;
    max-height:400px;
}

.carousel-prev-btn{
    position:relative;
    top:45%;
    left:0;
    width:50px; 
    transform: rotate(90deg);
}


.carousel-next-btn{
    position:relative;
    top:45%;
    left:0;
    width:50px; 
    transform: rotate(270deg);
}

.section-features{
    background: url('../assets/bg/features.jpg') no-repeat center center; 
    background-size: cover;
    height:100%;
}

.section-features-header{
    left:800px;
    height:400px;
}

.opt-bullet{
    height:20px;
    width:20px;
}
.section-sysreq{
    /* background: url('./assets/bg/requirements.png') no-repeat center center;  */
    background-image: radial-gradient(50% 50% at 60%,rgba(0, 0, 0, 0), rgba(0,0,0,1)),
    url("../assets/bg/requirements.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


.section-topscores{
    background: url('../assets/bg/top-score-bg.png') no-repeat center center; 
    background-size: cover;
}


.section-newsletter{
    background: black; 
    background-size: cover;
}

.section-newsletter-blank{
    background-image: radial-gradient(50% 50% at 60%,rgba(0, 0, 0, 0), rgba(0,0,0,1)),
    url("../assets/photo/skull.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.tweet-box{
    display:flex;
    flex-direction: column;
    background-color: rgb(255,255,255,0.08);
    border-radius: 2%;
    width:450px;
    padding:10px;
}
.tweet-box-header{
    display:flex;
    text-align: center;
}
.tweet-box-icon{
    background-image: url('../assets/icon/ellipse-orange.png');
    width:65px;
    height:65px;
}
.tweet-box-name{
    width:200px;
    padding-left:10px;
    flex-grow:1;
    text-align: left;
    
}
.tweet-box-body{
    padding: 10px;
}
.tweet-box-twitter{
    padding:5px;
    width:35px;
    height:35px;
}
.tweet-icon{
    padding-right:5px;
    padding-bottom:5px;
    border-radius: 50%;
    width:100%;
    height:100%;
}

.tweet-logo{
    width:100%;
    height:100%;
}

#main-nav {
    opacity: 0.75;
}



#floatingInput{
    background-color:  rgb(255,255,255,0.08);
    border:0;
    color:#F3AF34
}

.footer-container-1{
    padding:10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
}


.step {

padding: 10px;

display: flex;
flex-direction: row;
justify-content: flex-start;

background-color: cream;
}

.v-stepper {
position: relative;
/*   visibility: visible; */
}


/* regular step */
.step .circle {
background-color: transparent;
border: 3px solid white;
border-radius: 100%;
width: 20px;    /* +6 for border */
height: 20px;
display: inline-block;
}

.step .line {
    top: 20px;
left: 50%;
/*   height: 120px; */
height: 100%;
    
    position: absolute;
    border-left: 3px solid gray;
}

.step.completed .circle {
visibility: visible;
background-color: white;
border-color: white;
}

.step.completed .line {
border-left: 3px solid white;
}

.step.active .circle {
visibility: visible;
border-color: white;
background-color: transparent;
}

.step.empty .circle {
    visibility: hidden;
}

.step.empty .line {
/*     visibility: hidden; */
/*   height: 150%; */
top: 0;
height: 150%;
}


.step:last-child .line {
border-left: 3px solid white;
z-index: -1; /* behind the circle to completely hide */
}

.content {
margin-left: 20px;
display: inline-block;
}

.footer-container-2{
    padding:10px;
    display: flex;
    flex-wrap: wrap;
}

.footer-container-2-left{
    flex-grow:1;
}

.footer-container-2-right{
    flex-grow:0;
}

.newsletter-img{
    width:100%;

}